{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wall</title>
    <link rel="stylesheet" href="{% static 'css/wall.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% url 'wall:post' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        {% if posts_list %}
        {% for post in posts_list %}
        {% csrf_token %}
        <div class="Post" id="{{ post.id }}">
            <p>Author: {{ post.post_author }} | Publication date: {{ post.pub_date }}</p><hr>
            <p>{{ post.get_preview }}<a href="{% url 'wall:detail' post.id %}">{% if post.is_large %}...{% endif %}</a></p>
        </div>
        {% endfor %}
        {% else %}
        <p>The wall is empty. Be the first to write!</p>
        {% endif %}
    </div>
</body>
</html>